- content_for(:title) do
  = t :sell_title

#panes
  #sell.pane
    .row.header
      .small-12.medium-12.columns.text-center
        %h2
          = t :sell_headline

  #sell-detail.pane
    .row
      .small-12.medium-12.columns.text-center
        %h3= t :sell_producers
        %p
          = t :sell_producers_detail
        %a.button.transparent{href: "mailto:app@silesvachesavaientdesailes.org"}
          = t :register_title

= render "shared/footer"
